body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    flex-direction: column;
}

textarea {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
}

canvas {
    border: 1px dashed white;
    border-radius: 10px;
}

#input-area {
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#hints {
    margin-left: 20px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}